<template>
  <dv-loading v-if="loading1"></dv-loading>
  <div ref="refecharts" class="interior" v-else></div>
</template>

<script lang="ts">
import { info3 } from "./api";
import { ref, onMounted, nextTick, watch } from "vue";
import * as echarts from "echarts";

export default {
  setup() {
    const loading1 = ref(true);
    const refecharts = ref();
    const echartsfun = ({ data }: any) => {
      const myChart = echarts.init(refecharts.value);
      // 假设以下是你的数据，每个人的婚姻状况和投保金额
      let maritalStatusAmountData: any = [
        { maritalStatus: "已婚女性", amount: 5000 },
        { maritalStatus: "未婚女性", amount: 6000 },
        { maritalStatus: "已婚男性", amount: 7000 },
        { maritalStatus: "未婚男性", amount: 8000 },
        // 其他人的数据...
      ];

      // 计算各个人群的平均投保金额
      let maritalGroups: any = {};
      maritalStatusAmountData.forEach((item: any) => {
        if (!maritalGroups[item.maritalStatus]) {
          maritalGroups[item.maritalStatus] = { sum: 0, count: 0 };
        }
        maritalGroups[item.maritalStatus].sum += item.amount;
        maritalGroups[item.maritalStatus].count++;
      });
      let averageAmounts = [];
      for (let key in maritalGroups) {
        averageAmounts.push({
          maritalStatus: key,
          amount: maritalGroups[key].sum / maritalGroups[key].count,
        });
      }

      // 提取人群和平均投保金额数据
      let groups = averageAmounts.map((item) => item.maritalStatus);
      let amounts = averageAmounts.map((item) => item.amount);

      let option = {
        color: ["#fac858"],
        tooltip: {
          trigger: "item",
        },
        title: {
          text: "保险投资平均金额柱状图",
          left: "center",
          textStyle: {
             color: "#000",
          },
        },
        xAxis: {
          type: "category",
          data: groups,
        },
        yAxis: {
          type: "value",
          name: "平均投保金额（元）",
        },
        series: [
          {
            data: amounts,
            type: "bar",
          },
        ],
      };

      option && myChart.setOption(option);
    };
    const getdata = async () => {
      const { data } = await info3();
      if (data.code == 200) {
        loading1.value = false;
        nextTick(() => {
          //当loadging切换时，dom变化，执行nexttick函数
          if (refecharts.value) {
            //判断是否获取到dom，如果没有获取到就不执行，只执行onmounted里的getdata，防止调试时因为获取不到dom而报错
            echartsfun(data);
          }
        });
      }
    };

    onMounted(() => {
      setInterval(() => {
        getdata();
      }, 360000);
      getdata();
    });

    return {
      refecharts,
      loading1,
    };
  },
};
</script>

<style scoped>
.interior {
  height: 330px;
  width: 915px;
}
</style>
