<template>
  <div ref="main" class="interior"></div>
</template>
<script lang="ts">
import * as echarts from "echarts";
import { ref, onMounted, watch, nextTick, reactive } from "vue";

interface Props {
  data: any;
}

export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  setup(props: any) {
    console.log(props.data, 0);
    const loading = ref(true);
    const main = ref();
    const setecharts = () => {
      const myChart = echarts.init(main.value);
      // 假设以下是你的数据
      let insuranceData = [
        { name: "产品A", amount: 50000 },
        { name: "产品B", amount: 60000 },
        { name: "产品C", amount: 45000 },
        { name: "产品D", amount: 55000 },
        { name: "产品E", amount: 70000 },
        { name: "产品F", amount: 48000 },
        { name: "产品G", amount: 52000 },
        { name: "产品H", amount: 58000 },
      ];

      // 对保险金额进行排序
      insuranceData.sort((a, b) => b.amount - a.amount);

      // 提取前8名产品的数据
      let top8Data = insuranceData.slice(0, 8);

      // 构造 ECharts 需要的数据格式
      let xAxisData = top8Data.map((item) => item.name);
      let seriesData = top8Data.map((item) => item.amount);

      let option = {
        color: ["#61a0a8", "#2f4554", "#61a0a8"],
        title: {
          left: "center",
          text: "保险产品前8的平均保险金额",
          textStyle: {
            color: "#000",
          },
        },
        tooltip: {
          trigger: "item",
        },
        xAxis: {
          type: "category",
          data: xAxisData,
        },
        yAxis: {
          type: "value",
        },
        series: [
          {
            data: seriesData,
            type: "bar",
          },
        ],
      };
      option && myChart.setOption(option);
    };
    watch(
      () => props.data,
      () => {
        setecharts();
      },
      { deep: true }
    ); //开启深度监听，当props更新时，更新echarts图表

    onMounted(() => {
      setecharts();
    });

    return {
      main,
      loading,
    };
  },
};
</script>

<style scoped>
.interior {
  height: 330px;
  width: 915px;
}
</style>
