<template>
  <dv-loading v-if="loading1"></dv-loading>
  <div ref="refecharts" class="interior" v-else></div>
</template>

<script lang="ts">
import { info3 } from "./api";
import { ref, onMounted, nextTick, watch } from "vue";
import * as echarts from "echarts";

export default {
  setup() {
    const loading1 = ref(true);
    const refecharts = ref();
    const echartsfun = ({ data }: any) => {
      const myChart = echarts.init(refecharts.value);
      // 假设以下是你的数据，每个人的年龄和购买保险的情况
      let ageData = [
        { age: 25, purchased: true },
        { age: 30, purchased: false },
        { age: 35, purchased: true },
        { age: 40, purchased: true },
        { age: 45, purchased: false },
        { age: 50, purchased: true },
        { age: 55, purchased: true },
        { age: 60, purchased: true },
        { age: 65, purchased: false },
        { age: 70, purchased: true },
        // 其他人的数据...
      ];

      // 将数据分成两个数组，分别存储购买和不购买保险的人的年龄
      let purchasedAges = ageData
        .filter((item) => item.purchased)
        .map((item) => [item.age, 1]);
      let notPurchasedAges = ageData
        .filter((item) => !item.purchased)
        .map((item) => [item.age, 0]);

      let option = {
        title: {
          text: "购买保险人群年龄分布散点图",
          left: "center",
          textStyle: {
            color: "#000",
          },
        },
        tooltip: {
          trigger: "item",
        },
        xAxis: {
          type: "value",
          name: "年龄",
        },
        yAxis: {
          type: "value",
          name: "是否购买保险",
          axisLabel: {
            formatter: function (value: number) {
              return value === 1 ? "是" : "否";
            },
          },
        },
        series: [
          {
            data: purchasedAges.concat(notPurchasedAges),
            type: "scatter",
          },
        ],
      };

      option && myChart.setOption(option);
    };
    const getdata = async () => {
      const { data } = await info3();
      if (data.code == 200) {
        loading1.value = false;
        nextTick(() => {
          //当loadging切换时，dom变化，执行nexttick函数
          if (refecharts.value) {
            //判断是否获取到dom，如果没有获取到就不执行，只执行onmounted里的getdata，防止调试时因为获取不到dom而报错
            echartsfun(data);
          }
        });
      }
    };

    onMounted(() => {
      setInterval(() => {
        getdata();
      }, 360000);
      getdata();
    });

    return {
      refecharts,
      loading1,
    };
  },
};
</script>

<style scoped>
.interior {
  height: 330px;
  width: 915px;
}
</style>