<template>
  <dv-loading v-if="loading1"></dv-loading>
  <div ref="refecharts" class="interior" v-else></div>
</template>

<script lang="ts">
import { info3 } from "./api";
import { ref, onMounted, nextTick, watch } from "vue";
import * as echarts from "echarts";

export default {
  setup() {
    const loading1 = ref(true);
    const refecharts = ref();
    const echartsfun = ({ data }: any) => {
      const myChart = echarts.init(refecharts.value);
      // 假设以下是你的数据，每个人的年龄和投保金额
      let ageAmountData = [
        { age: 25, amount: 5000 },
        { age: 30, amount: 6000 },
        { age: 35, amount: 7000 },
        { age: 40, amount: 8000 },
        { age: 45, amount: 8500 },
        { age: 50, amount: 9000 },
        { age: 55, amount: 9500 },
        { age: 60, amount: 10000 },
        { age: 65, amount: 10500 },
        { age: 70, amount: 11000 },
        // 其他人的数据...
      ];

      // 计算各个年龄段的平均投保金额
      let ageGroups: any = {};
      ageAmountData.forEach((item) => {
        let ageGroup = Math.floor(item.age / 10) * 10; // 每 10 岁为一个年龄段
        if (!ageGroups[ageGroup]) {
          ageGroups[ageGroup] = { sum: 0, count: 0 };
        }
        ageGroups[ageGroup].sum += item.amount;
        ageGroups[ageGroup].count++;
      });
      let averageAmounts = [];
      for (let key in ageGroups) {
        averageAmounts.push({
          age: key,
          amount: ageGroups[key].sum / ageGroups[key].count,
        });
      }
      // 对年龄进行排序
      averageAmounts.sort((a: any, b: any) => a.age - b.age);

      // 提取年龄和平均投保金额数据
      let ages = averageAmounts.map((item) => item.age);
      let amounts = averageAmounts.map((item) => item.amount);

      let option = {
        color: ["#91cc75"],
        tooltip: {
          trigger: "item",
        },
        title: {
          text: "各个年龄段平均投保金额折线图",
          left: "center",
          textStyle: {
             color: "#000",
          },
        },
        xAxis: {
          type: "category",
          data: ages,
        },
        yAxis: {
          type: "value",
          name: "平均投保金额（元）",
        },
        series: [
          {
            data: amounts,
            type: "line",
          },
        ],
      };

      option && myChart.setOption(option);
    };
    const getdata = async () => {
      const { data } = await info3();
      if (data.code == 200) {
        loading1.value = false;
        nextTick(() => {
          //当loadging切换时，dom变化，执行nexttick函数
          if (refecharts.value) {
            //判断是否获取到dom，如果没有获取到就不执行，只执行onmounted里的getdata，防止调试时因为获取不到dom而报错
            echartsfun(data);
          }
        });
      }
    };

    onMounted(() => {
      setInterval(() => {
        getdata();
      }, 360000);
      getdata();
    });

    return {
      refecharts,
      loading1,
    };
  },
};
</script>

<style scoped>
.interior {
  height: 330px;
  width: 915px;
}
</style>
